# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Maven specific files
target/

# Gradle specific files
build/
out/

# IDE files
.idea/
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db